
{% extends 'base.html.twig' %}
{% block title %}Commande confirmé{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="jumbotron">
        <h3 class="display-6 text-center">Votre commande a été effectuée avec succès !</h3>
            <div class="text-right">
                <img src="{{ asset('assets/images/success.svg') }}" alt="confirmation email" width="30%">
            </div>
        <div class="text-center mt-3">
            <a href="{{path('home')}}" class="btn btn-success btn-command-success">Retour sur la page d'accueil</a>
        </div> 
    </div>
</div>
{% endblock %}
