{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
Salut les petits pédestres
</div>

{% for locale in locales %}
    {% if locale != app.request.locale %}
        <a href="{{ path('change_locale', {'locale': locale}) }}">{{ locale }}</a>
    {% endif %}
{% endfor %}

{% endblock %}
