.container-filter{
    width: 300px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 15px;
    margin-left: 2%;
    margin-top: 3%;
    display: inline-table;
    position: static;
}
.filter-title{
    font-size: 30px;
}

.subtitle-filter{
    font-size: 25px;
}

.filter{
    font-size: 12px;
}

.hr-filter{
    border-top: 1px solid #D2D2D2;
}

.card-dwarf{
    display: inline-block;
    margin-left: 3%;
    margin-top: 4%;
    width: 400px;
    height: 419px;
    background: #D1FAEB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 20px;
    opacity: 1;
}


.title-card{
    position: relative;
    top: 280px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.heart{
    position: relative;
    top: 290px;
    font-size: 25px;
    left: 15px;

}

.number-like{
    position: relative;
    top: 230px;
    left: 350px;
    font-size: 25px;

}

.img-product{
    position: relative;
    bottom: 100px;
    left: 140px;
    width: 30%;
}

.container-prix{
    position: relative;
    background-color: #fff;
    border-radius: 0px 20px;
    bottom: 380px;
    left: 320px;
    font-size: 40px;
    font-weight: bold;
    width: 20%;
    padding-left: 40px;

}

.price{
    position: relative;
    right: 35px;
}

.aled-link:link {
    text-decoration: none;
    color:black;
}

.aled-link:visited {
    text-decoration: none;
    color:black;
}

#price-slider{
    width: 80%;
    margin: auto;
}

.btn-filtre{
    background-color: #D1FAEB;
    margin-bottom: 40px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
}

.btn-filtre:hover{
    background-color: #76c2a6;
}

.noUi-connect{
    background:  #76c2a6;
}

#max{
    border-radius: 20px;
    text-align: center;
    width: 90%;
}

#min{
    border-radius: 20px;
    text-align: center;
    width: 90%;
}

#q{
    border-radius: 20px;
}

/* show */
.container-show{
    background-repeat: no-repeat;
    padding-bottom: 300px;
    background-position: top -100px right 1300px;
    background-size: 60%;
}
.contain-dwarf{
    width: 900px;
    height: 900px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 20px #00000029;
    border-radius: 60px;
    margin-top:5%;
    margin-left:5%;
    background-size: 90%;
    background-position: unset;
}

.title-show{
  font-weight: bold;
  font-size: 80px;
  margin-top: 8%;
  margin-bottom: 1%;
}

.subtitle-show{
    font-size: 30px;
    color: #9A9A9A ;
    white-space:pre
}

.right-col{
    margin-left: auto;
    margin-right: auto;
}

.price-show{
    font-size: 40px;
}

.button-share{
    border-radius: 70px;
    font-size: 40px;
    text-decoration: none;
    color: white;
    margin-left: 70%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:10px;
    padding-bottom:10px;
    margin-right: auto;
    font-weight: 600;

}

.button-share:hover{
    text-decoration: none;
    color: #fff;
}

.fa-thumbs-up{
    font-size: 60px;
    margin-left: 2%;
}
.contain-price-button{
    display: flex;
    margin-top: 4%;
}

.img-show{
    margin: auto;
    display: flex;
    margin-top: 10%;
    margin-bottom: auto;
    width: 50%;
}

.contain-button{
    display: block;
    width: 1200px;
    height: 130px;
    border: 1px solid #D4D4D4;
    border-radius: 60px;
    display: flex;
    align-items: center;
    margin-top: 5%;



}

.detail{
    color:#AFAFAF;
    font-size: 20px;
    margin-top: 5%;
}

.add-cart{
    width: 428px;
    height: 108px;
    margin: auto;
    display: flex;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    text-decoration: none;
    color: white;
    margin-top: 5%;

}

.add-cart:hover{
    text-decoration: none;
    color: #fff;
    background-color: #66dfb2;
}
.title-description{
    font-weight: bold;
    font-size: 25px;
}

.fa-cart-arrow-down{
    margin-right: 2%;
}

.middle-button{
    padding: 20px;
    border-radius: 60px;
    width: 300px;
    height: 120px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
.middle-button-2{
    padding: 20px;
    border-radius: 60px;
    width: 300px;
    height: 120px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    left: 10%;
}

.middle-button-3{
    padding: 20px;
    border-radius: 60px;
    width: 300px;
    height: 120px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-decoration: none;
    font-weight: bolder;
    position: relative;
    left: 23%;

}
/* PANIER */

.badge-cart {
    background-color: red;
}

/* PAGINATION */

a.page-link {
    color: #76c2a6;
}

.page-item.active .page-link {
    background-color: #76c2a6;
    border-color: #76c2a6;
}

/* END PAGINATION */
